<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
		<title>Trove - track your treasures!</title>
		<%= javascript_include_tag :defaults %>
  		<%= javascript_include_tag "tiny_mce/tiny_mce" %>
		<%= active_scaffold_includes %>
		<%= stylesheet_link_tag "application" %>
	</head>
	<body>
		<div id="Content">
			<h1><%= @title %></h1>
			<%= flash[:message] %><br />
			<%= yield %>
		</div>

		<div id="Menu">
			<ul>
			<li><a href="/item">Items</a></li>
			<li><a href="/item_list">Item lists</a></li>
			<li><a href="/card_page">Card Pages</a></li>
			</ul>
		</div>
	</body>
</html>